<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>MadLibs!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Fill in your short adventure</h1>
    <form action='/mad_lib'>
      <div class='form-group'>
        <label for='pronoun'>Enter a pro-noun</label>
        <input id='pronoun' name='pronoun' class='form-control' type='text'>
      </div>
      <div class='form-group'>
        <label for='verb'>Enter verb</label>
        <input id='verb' name='verb' class='form-control' type='text'>
      </div>
      <div class='form-group'>
        <label for='noun'>Enter a noun</label>
        <input id='noun' name='noun' class='form-control' type='text'>
      </div>
      <div class='form-group'>
        <label for='adverb'>Enter an adverb</label>
        <input id='adverb' name='adverb' class='form-control' type='text'>
      </div>
      <div class='form-group'>
        <label for='adjective'>Enter an adjective</label>
        <input id='adjective' name='adjective' class='form-control' type='text'>
      </div>
      <button type='submit' class='btn'>Go!</button>
    </form>
  </body>
</html>
