<h1>MADLIB</h1>
<p>One time a person named @Model.GetPronoun(),</p>
<p>liked to @Model.GetVerb() down the street. When @Model.GetPronoun(), went out of the house, they would always walk into a @Model.GetNoun().</p>

<p>love the little witch who</p>
